table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
}
th{
    text-align: left;
    background-color:#485460;
    color:#fff ;
}
table {
    width: 70%;
}
td{ 
    background-color: #0ff9ed;
}